/* font style */
body{
     font-family: "Open Sans", serif;
   font-family: 'lato', sans-serif;
}
.text-primary{
     color: #FD6E0A;
}
.btn-primary{
     text-align: center;
     font-family: 700;
     border-radius: 5px;
     background-color: #FD6E0A;
     border: 0;
     padding: 10px 20px;
     color: white;
     font-size: 20px;
}
/* nav related style */
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 200px;
}
.web-titel{
     color: #181818;
     font-size: 45px;
     /* font-style: normal; */
     font-weight: 800;
     /* line-height: normal; */
}
nav >ul{
     display:flex;
     align-items: center;

}
nav li{
     list-style: none;
     margin-right: 50px;
}
nav a{
     text-decoration: none;
     color: gray;
}
/* header related styles */
.header{
     background:#FFF8F3;
     background-image: url(images/header_bg.png), url(images/developer.png);
     background-repeat: no-repeat;
     background-position: bottom right, top left;

}
.banner{
     margin: 30px 30px 0px 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.banner-content{
     max-width: 500px;
}
.banner-profil-pik{
     width: 500px;
}
.banner-greeting{
     font-size: 45px;
     color: #474747;
     margin-bottom: 0;

}
.banner-title{
     font-size: 85px;
     font-weight: 700;
     margin-top: 5px;
     margin-bottom: 20px;

}
.banner-caption{

}
.section-title{
     color: #181818;
     text-align: center;
     /* font-family: open sans; */
     font-weight: 700;
     font-size: 35px;
     font-weight: normal;
}
.section-distion{
     color: #757575;
     text-align: center;
     font-size: 18px;
}

/* main section style */
main{
      max-width: 1140px;
      margin: 0 auto;
}
main section{
     margin-top: 130px;
}

/* about section style */
.about{
     padding: 50px 20px;
     margin: 130px auto ;
     border-radius: 10px;
     background: #e7e2df;
}
.about-info-container{
     display: flex;
     justify-content: space-around;
     /* text-align: center; */
}
.about-info{
     text-align: center;
}
.info-title{
     color: gray;
     margin-bottom: 10px;
}
.info-dis{
     color: #1a1818;
     /* font-size: bold; */
     margin-top: 10px;
     font-weight: bold;
}
#what-i-do-dis{
     padding: 10px 150px;
}
.what-do{
     background: #ebe5e1;
}

/* skills section style */
.skill-container{
     display: flex;
     gap: 24px;
}
.skill{
      padding: 30px;
     border-radius: 5px;
     /* background: #FFF; */
     background: rgb(216, 213, 213);
     /* box-shadow: 0 6px 50px 0 black(0, 0, 0, 0.05); */
     box-shadow: 5px; 

}
.skill-dis{
     color:rgb(19, 18, 18);
}
/* reume section */
.rusume-coloum-title{
     color: #474747;
     font-size: 30px;
     font-weight: 700; 
}
.resume-container{
     display: flex;
     gap:50px;

}
.resum-instu{
     margin-top: 0px;
     margin-bottom: 20px;

}
.resmum-item-diescription, .resum-instu {
     color: #757575;

}
.resume-item-title{
     color: #474747;
     font-size: 25px;
     font-weight: 700;
     margin-bottom: 10px;
}
.resume-container hr{
     margin: 30px;

}
.download-cv{
     text-align: center;
     margin-top: 50px;
     margin-bottom: 20px;
}
/* footer sectoion */
.section-diescription{
     text-align: center;
}
footer{
     display: flex;
     gap: 100px;
     background: #FFF8F3;
     padding: 100px 200px;
     margin-top: 40px;
}
.footer-column{
     width: 50%;
     
}
.social-link a{
     margin-right: 25px;

}
.contact input[type="text"], .contact input[type="email"], textarea{
     display: block;
     margin-bottom: 25px;
     padding: 18px 35px;
     color:#8d8b8b ;
     border-radius: 5px;
     background: #FFF;
     border: 0;
     width: 100%;
}
