/* font style */
body{
     font-family: "Open Sans", serif;
   font-family: 'lato', sans-serif;
}
.text-primary{
     color: #FD6E0A;
}
.btn-primary{
     text-align: center;
     font-family: 700;
     border-radius: 5px;
     background-color: #FD6E0A;
     border: 0;
     padding: 10px 20px;
     color: white;
     font-size: 20px;
}
/* nav related style */
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 200px;
}
.web-titel{
     color: #181818;
     font-size: 45px;
     /* font-style: normal; */
     font-weight: 800;
     /* line-height: normal; */
}
nav >ul{
     display:flex;
     align-items: center;

}
nav li{
     list-style: none;
     margin-right: 50px;
}
nav a{
     text-decoration: none;
     color: gray;
}
/* header related styles */
.header{
     background:#FFF8F3;
     background-image: url(images/header_bg.png);
     background-repeat: no-repeat;
     background-position: bottom right;

}
.banner{
     margin: 30px 30px 0px 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.banner-content{
     max-width: 500px;
}
.banner-profil-pik{
     width: 500px;
}
.banner-greeting{
     font-size: 45px;
     color: #474747;
     margin-bottom: 0;

}
.banner-title{
     font-size: 85px;
     font-weight: 700;
     margin-top: 5px;
     margin-bottom: 20px;

}
.banner-caption{

}
.section-title{
     color: #181818;
     text-align: center;
     /* font-family: open sans; */
     font-weight: 700;
     font-size: 35px;
     font-weight: normal;
}
.section-distion{
     color: #757575;
     text-align: center;
     font-size: 18px;
}

/* main section style */



/* about section style */
.about{
     padding: 130px;
     margin: 130px ;
     border-radius: 10px;
     background: #f0edeb;
}